#form-cr {
	margin-top: 40px;
}

.select2-container 
.select2-selection--multiple {
	min-height: 40px;
}

.select2-container 
.select2-selection--single {
	height: 40px;
	padding-top: 5px;
}

.select-cr-grade {
	min-width: 200px;
}

#btn-cr {
	margin-top: 40px;
}

.btn:focus, .btn:hover {
	background-color: white;
	box-shadow: 0 0 9px black;
}

/* Recommender settings*/
.content-box {
	float: left;
	width: 29%;
	margin: 2%;
	height: 270px;
}

.recommend-photo-banner {
	width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
    position: absolute;
}

.recommend-banner {
	width: 100%;
	height: 350px;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: black;
}

.recommend-banner-title {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	background: linear-gradient(to right, rgba(9,50,102,0.8) 0%, rgba(11,97,163,0.8) 100%);
	opacity: 0.95;
	margin-bottom: 10px;
	display: inline-block;
	position: absolute;
	bottom: 60px;
}

.recommend-banner-grade {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 30px;
	background: linear-gradient(to right, rgba(9,50,102,0.8) 0%, rgba(11,97,163,0.8) 100%);
	opacity: 0.95;
	margin-bottom: 10px;
	display: inline-block;
	position: absolute;
	bottom: 10px;
}

/*This is for the show more feature*/
.show-more {
	width: 100%;
	text-align: center;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	background: linear-gradient(to right, rgba(9,50,102,0.8) 0%, rgba(11,97,163,0.8) 100%);
}

.hideContent {
    overflow: hidden;
    height: 325px;
}

.showContent {
    height: auto;
    width: auto;
    overflow: auto;
    overflow-y: hidden;
}

/*This is for the hover over button feature*/
.show-more-button:hover > div {
        background-color:rgba(0, 0, 0, 0.5);
    }

.recommend-banner-button:hover > div {
        background-color:rgba(0, 0, 0, 0.5);
    }