#form-cr {
	margin-top: 40px;
}

.select2-container 
.select2-selection--multiple {
	min-height: 40px;
}

.select2-container 
.select2-selection--single {
	height: 40px;
	padding-top: 5px;
}

#btn-cr {
	margin-top: 40px;
}

.btn:focus, .btn:hover {
	background-color: white;
	box-shadow: 0 0 9px black;
}


.content-box {
	float: left;
	width: 46%;
	margin: 2%;
	min-height: 200px;
}
.display-results {
	text-align: center;
}